<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RESTOTOo.Properties.Settings.RestOtoConnectionString"
            connectionString="Data Source=DESKTOP-8BVLFOK\SQLEXPRESS;Initial Catalog=RestOto;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>